language: erlang

env:

  - GS_VERSION=3.2.2 UPGRADE_TEST=UPGRADE_GsDevKit
  - GS_VERSION=3.2.2 UPGRADE_TEST=UPGRADE_GLASS1_GsDevKit
#
#  - GS_VERSION=3.2.2 UPGRADE_TEST=TEST_ISSUE_3
#
#  - GS_VERSION=2.4.4.1 UPGRADE_TEST=TEST_FILETREE
#  - GS_VERSION=2.4.5.2 UPGRADE_TEST=TEST_FILETREE
#  - GS_VERSION=3.0.1 UPGRADE_TEST=TEST_FILETREE
#  - GS_VERSION=3.2.2 UPGRADE_TEST=TEST_FILETREE
#
#  - GS_VERSION=2.4.4.1 UPGRADE_TEST=TEST_GLASS1
#  - GS_VERSION=2.4.4.7 UPGRADE_TEST=TEST_GLASS1
#  - GS_VERSION=2.4.5 UPGRADE_TEST=TEST_GLASS1
#  - GS_VERSION=2.4.5.2 UPGRADE_TEST=TEST_GLASS1
#  - GS_VERSION=3.0.1 UPGRADE_TEST=TEST_GLASS1
#  - GS_VERSION=3.1.0.2 UPGRADE_TEST=TEST_GLASS1
#  - GS_VERSION=3.1.0.4 UPGRADE_TEST=TEST_GLASS1
#  - GS_VERSION=3.1.0.5 UPGRADE_TEST=TEST_GLASS1
#  - GS_VERSION=3.1.0.6 UPGRADE_TEST=TEST_GLASS1
#  - GS_VERSION=3.2.0 UPGRADE_TEST=TEST_GLASS1
#  - GS_VERSION=3.2.1 UPGRADE_TEST=TEST_GLASS1
#  - GS_VERSION=3.2.2 UPGRADE_TEST=TEST_GLASS1
#
#  - GS_VERSION=2.4.5.2 UPGRADE_TEST=TEST_GREASE_GLASS1
#  - GS_VERSION=3.1.0.6 UPGRADE_TEST=TEST_GREASE_GLASS1
#  - GS_VERSION=3.2.2 UPGRADE_TEST=TEST_GREASE_GLASS1
#
#  - GS_VERSION=2.4.5.2 UPGRADE_TEST=UPGRADE_GREASE
#  - GS_VERSION=3.1.0.6 UPGRADE_TEST=UPGRADE_GREASE
#  - GS_VERSION=3.2.2 UPGRADE_TEST=UPGRADE_GREASE
#
##  - GS_VERSION=2.4.5.2 UPGRADE_TEST=TEST_ZINC_2XX    # see https://github.com/GsDevKit/zinc/issues/53
##  - GS_VERSION=3.1.0.6 UPGRADE_TEST=TEST_ZINC_2XX    # see https://github.com/GsDevKit/zinc/issues/53
##  - GS_VERSION=3.2.2 UPGRADE_TEST=TEST_ZINC_2XX      # see https://github.com/GsDevKit/zinc/issues/53
#
##  - GS_VERSION=3.1.0.6 UPGRADE_TEST=TEST_SEASIDE31X  # see https://github.com/GsDevKit/zinc/issues/53
##  - GS_VERSION=3.2.2 UPGRADE_TEST=TEST_SEASIDE31X    # see https://github.com/GsDevKit/zinc/issues/53
#
#  - GS_VERSION=2.4.5.2 UPGRADE_TEST=ALL_UPGRADE
#  - GS_VERSION=3.1.0.6 UPGRADE_TEST=ALL_UPGRADE
#  - GS_VERSION=3.2.2 UPGRADE_TEST=ALL_UPGRADE
#
#  - GS_VERSION=2.4.4.1 UPGRADE_TEST=UPGRADE_METACELLO
#  - GS_VERSION=2.4.5.2 UPGRADE_TEST=UPGRADE_METACELLO
#  - GS_VERSION=3.1.0.6 UPGRADE_TEST=UPGRADE_METACELLO
#  - GS_VERSION=3.2.2 UPGRADE_TEST=UPGRADE_METACELLO
#
#  - GS_VERSION=2.4.5.2 UPGRADE_TEST=UPGRADE_GLASS1
#  - GS_VERSION=3.1.0.6 UPGRADE_TEST=UPGRADE_GLASS1
#  - GS_VERSION=3.2.2 UPGRADE_TEST=UPGRADE_GLASS1
#
#  - GS_VERSION=2.4.5.2 UPGRADE_TEST=UPGRADE_GLASS
#  - GS_VERSION=3.1.0.6 UPGRADE_TEST=UPGRADE_GLASS
#  - GS_VERSION=3.2.2 UPGRADE_TEST=UPGRADE_GLASS

before_script:
  - export BASE="$(pwd)"
  - git clone --depth 1 https://github.com/GsDevKit/gsDevKitHome.git
  - cd gsDevKitHome
  - export GS_HOME="$(pwd)"
  - export PATH=$GS_HOME/bin:$PATH
  - export GS_TRAVIS=true
  - sudo apt-get update -qq
  - sudo apt-get -y install libpam0g:i386
  - sudo ln -s /lib/i386-linux-gnu/libpam.so.0 /lib/libpam.so.0
  - sudo apt-get install -qq gcc-multilib libcurl3:i386 libstdc++6:i386
  - sudo ln -s /usr/lib/i386-linux-gnu/libstdc++.so.6 /usr/lib/i386-linux-gnu/libstdc++.so
  - cd $BASE

script:
  - bash installGemStone $GS_VERSION
  - bash createTodeImage
  - bash createStone travis $GS_VERSION

    # GsUpdater
  - bash tests/testGsUpgrader.sh

