language: erlang

env:


  - GS_VERSION=3.1.0.6 UPGRADE_TEST=UPGRADE_GsDevKit_home_GLASS
  - GS_VERSION=3.2.12 UPGRADE_TEST=UPGRADE_GsDevKit_home_GLASS

#  - GS_VERSION=3.2.12 UPGRADE_TEST=TEST_ISSUE_3
#
#  - GS_VERSION=2.4.7 UPGRADE_TEST=TEST_FILETREE
#  - GS_VERSION=3.2.12 UPGRADE_TEST=TEST_FILETREE
#
#  - GS_VERSION=2.4.7 UPGRADE_TEST=TEST_GLASS1
#  - GS_VERSION=3.2.12 UPGRADE_TEST=TEST_GLASS1
#
#  - GS_VERSION=2.4.7 UPGRADE_TEST=TEST_GREASE_GLASS1
#  - GS_VERSION=3.2.12 UPGRADE_TEST=TEST_GREASE_GLASS1
#
#  - GS_VERSION=2.4.7 UPGRADE_TEST=UPGRADE_GREASE
#  - GS_VERSION=3.2.12 UPGRADE_TEST=UPGRADE_GREASE
#
#  - GS_VERSION=2.4.7 UPGRADE_TEST=ALL_UPGRADE
#  - GS_VERSION=3.2.12 UPGRADE_TEST=ALL_UPGRADE
#
#  - GS_VERSION=2.4.7 UPGRADE_TEST=UPGRADE_METACELLO
#  - GS_VERSION=3.2.12 UPGRADE_TEST=UPGRADE_METACELLO
#
#  - GS_VERSION=2.4.7 UPGRADE_TEST=UPGRADE_GLASS
#  - GS_VERSION=3.2.12 UPGRADE_TEST=UPGRADE_GLASS

#  - GS_VERSION=2.4.7 UPGRADE_TEST=UPGRADE_GLASS1
  - GS_VERSION=3.1.0.6 UPGRADE_TEST=UPGRADE_GLASS1
  - GS_VERSION=3.2.12 UPGRADE_TEST=UPGRADE_GLASS1


addons:
  hosts:
    - travis.dev

before_script:
  - export BASE="$(pwd)"
  - git clone https://github.com/GsDevKit/GsDevKit_home.git
  - cd GsDevKit_home
  - git checkout dev
  - export GS_HOME="$(pwd)"
  - export PATH=$GS_HOME/bin:$PATH
  - export GS_TRAVIS=true
  - cd $BASE

script:
  - sudo hostname travis.dev
  - bash installServer
  - bash createClient tode
  - bash createStone travis $GS_VERSION

    # GsUpdater
  - bash tests/testGsUpgrader.sh
